<% content_for(:title, @project.title) %>

<h1><%= @project.title %></h1>
<p><%= @project.url %></p>
<p><%= @project.description %></p>

<p><%= link_to "Edit", edit_skill_project_path(@skill, @project) %></p>
<p><%= link_to "Delete", skill_project_path(@skill, @project),
              :data => {:confirm => "Are you sure?",
                :method => 'delete'} %></p>


<%= link_to "Back to skills", skills_path(@skill) %>
